body {
    background-image: url("68.jpg");
    color: white;
}

#machlila {

    height: 100px;
    color: white;
    font-size:60px;
    font-family:Phosphate;
    padding-left: 38%;
    background-attachment: fixed;
    border: 3px;
    border-radius: 10px;
    border: white;
    border-style: solid ;

}
#machlila:hover{
    color: seagreen;
}



#link  {
    width: 100px;
    font-family:arial;
    height: 150px;
    background-color: white;
    border: 3px;
    border-radius: 10px;
    border: white;
    border-style: solid ;
    padding-top: 10px;



}


#link a:hover{
    color: orange;
}
#link a:visited {
    color: darkgreen;
}

a:hover {
    color:orange;
}

a:visited {
    color: darkgreen;
}

#main {

    font-family: Arial;

}

#einträge {
    border: 3px;
    border-radius: 10px;
    border: white;
    border-style: solid ;
    margin-left: 20%;
    padding: 10px;
    width: 800px;

}



#footer {
    height: 50px;
    color: white;
    font-size:15px;
    font-family:Arial;
    background-attachment: fixed;
    margin-top: 90%;
    margin-left: 40%;
}

